@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width:1000px;
    margin:0 auto;
 }
header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    max-width: 1000px;
    border-bottom: 1px solid #8f1a1a;
}
.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}
.history {
    float:left;
    margin-right: 20px;
}
.historyimg {
    float: right;
    width: 200px;
    height: 200px;
    margin-left: 20px;


}
footer {
  text-align: center;
 height: 70px;
 
}
nav {
    text-align: right;
    }
.navigation {
      display: flex;
      list-style: none;
      float: right;
      background-color: #AFD5AA;
    
    }
.navigation li {
    flex: 1 1 100%;
    border:#8f1a1a thick solid;
}
.navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
}
div.heros {
    width:300px;
    height: 300px;

}

:root {
    --primary-color: #AFD5AA;
    --secondary-color: #5C5346;
    --accent1-color: #A69F98;
    --accent2-color: #8C6057;

    --heading-font: 'Madimi', sans serif;
    --paragraph-font: 'Madimi', sans serif;

    --nav-background-color: #5C5346;
    --nav-link-color: #A69F98;
    --nav-hover-link-color: #8C6057;
    --nav-hover-background-color: #AFD5AA;
}
.sec1 {
    display:flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 200px;
    background-color:#AFD5AA;
    text-align: center;
}

div.hero {
    position: relative;
    bottom: 0;
    top: 0;
    height: 100%;
    max-width: 1000px;
}
article {
    position:absolute;
    height: 85%;
    top: 40px;
    right: 0px;

}
.sec2 {
    display:flex;
    align-items: center;
    height: 500px;
    width: fit-content;
    text-align: center;
    object-fit: contain;
    display:block

}
figure {
    border: thin #8f1a1a solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 200px;
    margin: auto;
}
figcaption {
    background-color:#5C5346;
    color:aliceblue;
    padding: 3px;
    text-align: center;
}
.imagess {
    object-fit: contain;
    display:flex;
    width: 185px;
    height: 150px;

}


.brown {
    position:absolute;
    height: 85%;
    width: 100%;
    top: 0px;
}

