@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
body {
    max-width: 2000px;
}

:root {
    --primary-color: #AFD5AA;
    --secondary-color: #5C5346;
    --accent1-color: #A69F98;
    --accent2-color: #8C6057;

    --heading-font: 'Madimi', sans serif;
    --paragraph-font: 'Madimi', sans serif;

    --nav-background-color: #5C5346;
    --nav-link-color: #A69F98;
    --nav-hover-link-color: #8C6057;
    --nav-hover-background-color: #AFD5AA;
}

.hero {
    margin: 10px auto;
    position: relative;
}
.art {
    position: absolute;
}
