@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
html {
    height: 100%;
    display: block;
    width: 1000px;
}
body {
    min-height: 100%;
}
:root {
    --primary-color: #AFD5AA;
    --secondary-color: #5C5346;
    --accent1-color: #A69F98;
    --accent2-color: #8C6057;

    --heading-font: 'Madimi', sans serif;
    --paragraph-font: 'Madimi', sans serif;

    --nav-background-color: #5C5346;
    --nav-link-color: #A69F98;
    --nav-hover-link-color: #8C6057;
    --nav-hover-background-color: #AFD5AA;
}
header :any-link {
    text-decoration: none;
}
.hero {
    position: relative;
    bottom: 0;
    top: 0;
    height: 100%;
    max-width: 100%
}
article {
    position:absolute;
    height: 85%;
    top: 40px;
    right: 400px;

}



.brown {
    position:absolute;
    height: 85%;
    width: 100%;
    top: 0px;
}

